.cardTour {
    width: 20%;
    /* height: 360px; */
    margin-bottom: 24px;
    /* overflow-y: scroll; */
    /* background-color: lightblue; */
    /* border: 1px solid lightcoral; */
    box-shadow: 2px 4px 10px 1px lightgray ; 
    box-sizing: border-box;
    /* padding: 0px 12px; */
    margin-left: 60px;
    border-radius: 20px;
    position: relative;
    
}





.cardHeader img{
    /* padding-right: 12px; */
    height: 150px;
    width: 100%;
    border-radius: 20px;
    /* width: 100%; */
    transform: scale(1.0);
    transition: ease-in-out 0.2s;
}

.cardHeader span{
    padding: 0px 16px;
}

.cardHeader img:hover{
    transform: scale(1.1);
}

.cardName {
    text-align: center;
    /* font-weight: 800; */
    position: absolute;
    top: 8px;
    right: 12px;
    color: purple;
    font-weight: 800;
}

.cardBody{
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 8px;
}


.cardTitle{
    font-size: 24px;
    font-weight: 800;
}




.likeButton{
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
    align-items: center;
}

.likeButton button{
    border: none;
    background-color: white;
}

.likeText{
    margin: 0px 4px;
}


