*{
  margin: 0px;
  padding: 0px;
}

.App{
  background-color: white;
}

.AppTheme{
  background-color: black;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
