.resetPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.resetForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.4);
}


.labelReset{
    /* margin-bottom: 12px; */

}


.inputReset{
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid black;
    
}

.inputReset:focus{
    outline: none;
}


.btnReset{
    border: none;
    background-color: lightblue;
    padding: 2px 12px;
    transition: ease-in-out 0.3s;
    margin-bottom: 12px;
}


.btnReset:hover{
    background-color: palevioletred;
}