.changePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formChange{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.4);
    border-radius: 12px;
}

.formChange input{
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.4);

}

.formChange input:focus{
    outline: none;
}

.btnChangePass{
    border: none;
    padding: 2px 12px;
    background-color: purple;
    transition: ease-in-out 0.2s;
    margin-top: 12px;
    margin-left: 50px;
    color: white;
}

.btnChangePass:hover{
    background-color: palevioletred;
}